{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="teaser-box">
    <div class="image">
        <f:image src="/typo3conf/ext/t3openweathermap/Resources/Public/Images/wetter.jpg" alt="Wetter" />
        <div class="title">
            <div class="title-inner">Wetter</div>
        </div>
        <div class="weather-icon">
            <f:image src="/typo3conf/ext/t3openweathermap/Resources/Public/Images/{icon}" alt="Wetter" height="50c" width="50c"/>
        </div>
        <div class="weather-temp">
            {temp}°C
        </div>
    </div>
</div>